extends ../layouts/main.pug

block title
  title About | Curtis Atkins Portfolio

block content
  div(class="container about-page")
    div(class="content-box")
      div(clas="row")
        div(class="col-md-8")
          h1 About Page

          p.
            Hi, I'm Curtis. Thanks for visiting my site! Feel free to peruse and see some of the professional and creative aspects I can bring to the
            table.

          p.
           I am a software technology professional looking to expand my experience in the web development community. I seek to gain fulfillment in life through constant exposure to new ways of thinking, lifestyles and cultures
           as well as doing my part to help others reach their fullest potential where possible.

          p.
            I’ve recently built upon my knowledge of several languages and frameworks such as HTML, CSS, Javascript, jQuery, Node.js, React.js,
           mySQL, MongoDB, and others. My skillset includes Technical Problem Solving, Quality Assurance, Marketing, Team Management, Customer Service, Researching, Metadata Analysis, Networking, Graphic Design, Digital Audio
           Production, proficient verbal and written communication, among others. Some fields of interest include E-Commerce, Social Media, Music, Film, Entertainment, Cuisine, Finance, and Health Care.
        div(class="col-md-4")
          img(src="/img/curtis.jpg")
