extends ../layouts/main.pug

block title
  title Home | Curtis Atkins Portfolio
block content

  section(class="top-header")
    div(class="top-left")
      h1 WEB DEVELOPER
    div(class="top-right")
      img(src="/img/computer.png")

  section(class="blog")
    div(class="post")
    div(class="post")
    div(class="post")
    div(class="post")
    div(class="post")
    div(class="post")
