extends ../layouts/main.pug

block title
  title Blogs | Curtis Atkins Portfolio

block content
  div(class="container blog-page index-page")
      div(class="row")
        div(class="col-md-8")
          div(class="content-box")
            div(class="row")
              div(class="col-md-12")
                a(href="/blog/title")
                  h1 Top 10 Best Javascript Libraries

          div(class="content-box")
            div(class="row")
              div(class="col-md-12")
                a(href="/blog/title")
                  h1 My Experience Learning React

          div(class="content-box")
            div(class="row")
              div(class="col-md-12")
                a(href="/blog/title")
                  h1 My Life As A Developer

        div(class="col-md-4")
          div(class="content-box")
            img(src="https://s-media-cache-ak0.pinimg.com/originals/2c/08/bc/2c08bc4c7ba13ead78a553ac59ebec0b.jpg" class="advert")
          div(class="content-box")
            img(src="/img/desktop.png" class="advert")
