extends ../layouts/main.pug

block title
  title Blogs | Curtis Atkins Portfolio

block content
  div(class="container blog-page show-page")
      div(class="row")
        div(class="col-md-8")
          div(class="content-box")
            div(class="row")
              h1 Top 10 Best Javascript Libraries
              div(class="col-md-12")
                img(class="advert" src="/img/JS-Libraries.png")

              div(class="col-md-12")
                p.
                    This is My Blog Page This is My Blog This is My Blog Page This is My Blog Page
                    This is My Blog Page This is My Blog This is My Blog Page This is My Blog Page
                    This is My Blog Page This is My Blog This is My Blog Page This is My Blog Page
                    Thisd is My Blog Page This is My Blog This is My Blog Page This is My Blog Page

        div(class="col-md-4")
          div(class="content-box")
            include ../includes/side-ad.pug
