extends ../layouts/main.pug

block title
  title Blogs | Curtis Atkins Portfolio

block content
  div(class="container blog-page index-page")
      div(clas="row")
        div(class="col-md-8")
          div(class="content-box")
            div(clas="row")
              div(class="col-md-8")
                h1 Top 10 Best Javascript Libraries
                p.
                  This is My Blog Page This is My Blog This is My Blog Page This is My Blog Page
                  This is My Blog Page This is My Blog This is My Blog Page This is My Blog Page
                  This is My Blog Page This is My Blog This is My Blog Page This is My Blog Page
                  This is My Blog Page This is My Blog This is My Blog Page This is My Blog Page
                div(class="col-md-4")
                  img(class="advert" src="/img/desktop.png")
        div(class="col-md-4")
          div(class="content-box")
            img(src="/img/desktop.png")
          div(class="content-box")
            img(src="/img/desktop.png")
