@import "reset";
@import "variables";
@import "home";
@import "grid";
@import "global";
@import "about";
@import "blog";
@import "projects/index";
@import "projects/show";

*{
font-family: $mainFont;
box-sizing: border-box;
}

h1{
  font-family: $mainFont;
  display: block;
  flex-direction: column;
  margin-bottom: .8rem;
  text-align: center;
  font-size: 2rem;
  margin: 10px;
}
body{
  background: $bodyBG;
}
  header{
    background: $headerBG;
    width: 100%;
    overflow: auto;
    padding: 15px 20px;
    position:fixed;
    .logo{
      a{
      font-family: $mainFont;
      display: inline-block;
      color: white;
      font-size: 1.3rem;
      float: left;
      font-size: 1.2rem;
      text-decoration: none;
      }
    }

    .menu{
      display: inline-block;
      float: right;
      ul{
        li{
          display: inline-block;
          padding: 0px 10px;
          a{
            font-family: $mainFont;
            font-weight: 300;
            color: white;
            text-decoration: none;
          }
        &:hover{
          background: $topLeftBG;
          transition-duration: 0.3s
         }
        }
      }
    }
  }

.content-area{
  padding-top: 48px;
}
