.projects-page,.index-page {
  h1{
    font-family: $mainFont;
  }
  .project-img{
    position: relative;
    overflow: hidden;
    &:hover{
      .inside {
        bottom: 0;
        transform: translate(0, 0);
      }
    }
    .inside{
      width: 100%;
      background: rgba(34, 37, 100, 0.9);
      position: absolute;
      height: 100%;
      transform: translate(0, 100%);
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.5s ease-in-out;
        a{
          color: white;
          text-decoration: none;

        h4{
          font-family: $mainFont;
          display: block;
          flex-direction: column;
          margin-bottom: .8rem;
          text-align: center;
          font-size: 2rem;
          &:hover{
            color: $linkHoverColor;
          }
        }
        .tags{
          font-family: $displayFont;
          display: block;
          max-width: 70%;
          margin: 0 auto;
          text-align: center;
          .pill{
            display:inline-block;
            background: $headerBG;
            padding: 5px 10px;
            border-radius: 4px;
            margin: 4px;
          }
        }
      }
    }
  }
}
