extends ../layouts/main.pug

block title
  title Create Project | Curtis Atkins Portfolio

block content
  div(class="container projects-page")
    div(class="content-box")
      div(class="row")
        div(class="col-md-8")
          h1 Create Project
