extends ../layouts/main.pug

block title
  title Edit Project | Curtis Atkins Portfolio

block content
  div(class="container projects-page")
    div(class="content-box")
      div(clas="row")
        div(class="col-md-8")
          h1 Edit Project
