extends ../layouts/main.pug

block title
  title Show Project | Curtis Atkins Portfolio

block content
  div(class="container projects-page show-page")
    div(class="content-box")
      div(class="row")
        div(class="col-md-12")
          h1 Show Project
          p.
            Bicycle rights occupy pour-over before they sold out, austin lumbersexual enamel pin. Kale chips wayfarers ugh banjo iceland. Marfa listicle art party gentrify vape, la croix paleo schlitz bushwick VHS iceland gluten-free. Tofu paleo copper mug vexillologist, locavore franzen slow-carb glossier. Kickstarter af cray roof party.
            Vaporware 8-bit crucifix cardigan mumblecore, keffiyeh quinoa cray single-origin coffee cronut gluten-free slow-carb cloud bread. Whatever copper mug aesthetic, knausgaard keffiyeh listicle +1 coloring book try-hard humblebrag ennui. Shabby chic hoodie tumeric palo santo. Food truck chartreuse copper mug roof party gluten-free taiyaki fixie mumblecore ugh salvia four dollar toast farm-to-table sustainable health goth. Jean shorts wolf food truck single-origin coffee beard gochujang. Kombucha lyft ugh gastropub man bun, cliche kitsch keffiyeh post-ironic actually shoreditch.
            Distillery stumptown selfies, subway tile organic umami gluten-free fixie. Tumeric hammock cronut, shabby chic etsy tilde tumblr thundercats swag skateboard portland fam. Pork belly lumbersexual biodiesel DIY pok pok vinyl, roof party cray messenger bag dreamcatcher migas blue bottle banjo. Brunch cardigan palo santo iceland freegan umami fingerstache tofu cold-pressed 8-bit hexagon glossier trust fund art party authentic.

          div(class="col-md-4")
            img(src="/img/desktop.png")

          div(class="col-md-4")
            img(src="/img/desktop.png")

          div(class="col-md-4")
            img(src="/img/desktop.png")

        div(class="col-md-12")
          img(src="/img/desktop.png")
